h1 {
  text-align: center;
  padding: 20px 50px 20px;
  color: aliceblue;
}

.movie-list {
  padding: 24px 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  list-style: none;
  width: 100%;
}