.header{
  background-color: #0f1722;
  padding: 12px 3%;
  padding-inline: 16px;
  font-family: var(--font-jost);
}

.navbar {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
  }

  a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;

    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
  }
}

.nav-links a:hover {
  color: #60a5fa;
}

.logo_navbar {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #60a5fa;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
}


@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1000;

    .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #929BC1;
    transition: 0.3s;
    }
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #111A41;
    clip-path: circle(100px at 90% -15%);
    transition: clip-path 0.8s ease-out;
    z-index: 990;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-links a {
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .navbar.active .nav-links a:nth-child(1) {
    transition-delay: 0.2s;
  }
  .navbar.active .nav-links a:nth-child(2) {
    transition-delay: 0.4s;
  }

  .navbar.active .nav-links {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .navbar.active .nav-links a {
    opacity: 1;
  }

  .navbar.active .hamburger .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar.active .hamburger .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.active .hamburger .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}