.header{
    background-color: #0f1722;
    padding: 12px 3%;
    padding-inline: 16px;
    font-family: var(--font-jost);
}

.navbar {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

  .nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
  }

  a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;

    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
  }
}

.nav-links a:hover {
  color: #60a5fa;
}

.logo_navbar {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

@media (max-width: 750px) {

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #a5c;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-links a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-links li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-links li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-links li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-links {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-links a {
    opacity: 1;
  }
}