h2 {
  text-align: center;
  padding: 10px 50px 20px;
  color: aliceblue;
}
h1 {
  text-align: center;
  padding: 10px 50px 20px;
  color: aliceblue;
}
p {
  color: aliceblue;
}
li {
  color: aliceblue;
}
.resultsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  .text-content {
    flex: 1;
    min-width: 200px;
    padding-right: 1rem;
  }

  .chart-content {
    flex: 2;
    min-width: 300px;
  }

  ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }
}
.page_title {
  padding: 24px;
}