h2 {
  text-align: center;
  padding: 10px 50px 20px;
  color: aliceblue;
}
h1 {
  text-align: center;
  padding: 10px 50px 20px;
  color: aliceblue;
}
p {
  color: aliceblue;
}
li {
  color: aliceblue;
}
.resultsList {
  padding: 0px 50px 20px;
  border-radius: 30px;
}
.page_title {
  padding: 24px;
}